@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

@font-face {
    font-family: "BPG Arial";
    src: local("additional/bpg_arial_2009.ttf");
}

* {
    box-sizing: border-box;
}

body {
    background-color: #221525;
    font-family: "BPG Arial", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    color: #fff;
    margin: 0;
}


.container {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
}

.sitting {
    background-color: #73737e;
    margin: 3px;
    padding: 1.5px 10px;
    border-radius: 5px;
    font-family: "BPG Arial", sans-serif;
    font-size: 15px;
}

.sitting-showcase {
    background-color: #73737e;
    height: 20px;
    width: 20px;
    margin: 3px;
    border-radius: 50%;
}

.sitting-showcase.selected {
    background-color: #641c29;
}

small {
    margin-left: 15px;
}

.sitting.selected {
    background-color: #641c29;
}

.sitting:nth-of-type(n) {
    margin-right: 15px;
}


.sitting:hover {
    cursor: pointer;
    transform: scale(1.2);
}


.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.showcase {
    background-color: rgba(0, 0, 0, 0.38);
    padding: 5px 10px;
    border-radius: 5px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.showcase li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
}


#clearAll {
    font-family: "BPG Arial", sans-serif;
    margin: auto;
    background-color: #0c0c0c;
    border: 5px solid #0c0c0c;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition-duration: 0.5s;
}

#clearAll:hover {
    transform: scale(1.25);

}

.img {
    width: 450px;
    height: 120px;
    margin-bottom: 25px;
    margin-right: 10%;
    border-radius: 5px;
    filter: grayscale(80%);
}

.img:hover {
    cursor: pointer;
    transform: scale(1.1);
    filter: grayscale(0%);
}

h2 {
    font-family: "BPG Arial", sans-serif;
    font-size: 25px;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
}

.column {
    margin-right: 45px;
}